@model Egen.Models.Projects

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="progress">
    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br />
<div class="card">
    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Create Projects</strong>
    </h5>
    <div class="card-body px-lg-5 pt-0">


        @using (Html.BeginForm())
        {
            <br />
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="md-form">
                @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                <label>Project Name</label>
                @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })

            </div>
            <div class="md-form">


                @Html.EditorFor(model => model.ProjectCode, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                <label>Project Code</label>
                @Html.ValidationMessageFor(model => model.ProjectCode, "", new { @class = "text-danger" })

            </div>

            <button class="btn btn-success btn-block z-depth-0 my-4 waves-effect rounded" type="submit">Submit</button>


        }
    </div>
</div>
<br />
<div>
    <a href="@Url.Action("Index")" class="btn btn-lg btn-primary float-none btn-unique btn-block waves-effect rounded">List</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
