<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Egen</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="~/Content/MDB/css/mdb.min.css" rel="stylesheet" />
    <!-- Your custom styles (optional) -->
    <link href="~/Content/MDB/css/style.css" rel="stylesheet" />
    <link href="~/Content/Navbar/nav.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="@Url.Action("Index","Home")">Egen</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item active">
                        <a class="nav-link hoverable" id="len1" href="@Url.Action("Index", "Home")">Home <span class="sr-only">(current)</span></a>
                    </li>

                    if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link hoverable" id="len2" href="@Url.Action("Index", "Companies")">Companies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hoverable" id="len2" href="@Url.Action("Index", "Projects")">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hoverable" id="len3" href="@Url.Action("Index", "Consultants")">Consultants</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hoverable" id="len4" href="@Url.Action("Index", "Banks")">Banks</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle hoverable" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Users
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item hoverable" id="len7" href="@Url.Action("RoleList", "Role")">Available Roles</a>
                                <a class="dropdown-item hoverable" id="len8" href="@Url.Action("Register", "Account")">Add an User</a>
                                <a class="dropdown-item hoverable" id="len9" href="@Url.Action("UsersWithRoles", "Account")">User List with Roles</a>
                            </div>
                        </li>
                    }
                    if (User.IsInRole("Admin") || User.IsInRole("User"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle hoverable" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Invoice
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item hoverable" id="len5" href="@Url.Action("Create", "Invoices")">Add an Invoice</a>
                                <a class="dropdown-item hoverable" id="len6" href="@Url.Action("Index", "Invoices")">History</a>
                            </div>
                        </li>
                    }
                }


            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Coders Family</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
<script src="~/Content/MDB/js/mdb.min.js"></script>
<script src="~/Content/Navbar/nav.js"></script>

</body>
</html>
