@model Egen.Models.Invoices
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GenerateInvoice</title>
</head>
<body>
    <div>
        <h4>Invoices</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Bank.AccountName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Bank.AccountName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Company.CompanyName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Company.CompanyName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Consultant.ConsultantName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Consultant.ConsultantName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Project.ProjectName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Project.ProjectName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InvoiceNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InvoiceNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsUsd)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsUsd)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Total)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Total)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Advance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Advance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Due)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Due)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Remuneration)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Remuneration)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RemunerationDetails)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RemunerationDetails)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RemunerationWorkingDays)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RemunerationWorkingDays)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RemunerationDailyRate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RemunerationDailyRate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RemunerationTotal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RemunerationTotal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PerDiem)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PerDiem)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PerDiemDetails)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PerDiemDetails)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PerDiemWorkingDays)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PerDiemWorkingDays)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PerDiemDailyRate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PerDiemDailyRate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PerDiemTotal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PerDiemTotal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AirFare)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AirFare)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AirFareDetails)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AirFareDetails)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AirFareTotal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AirFareTotal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Accommodation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Accommodation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AccommodationDetails)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccommodationDetails)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AccommodationTotal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccommodationTotal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VisaFees)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VisaFees)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VisaFeesDetails)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VisaFeesDetails)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VisaFeesTotal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VisaFeesTotal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TaxiFare)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaxiFare)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TaxiFareDetails)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaxiFareDetails)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TaxiFareTotal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaxiFareTotal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Other)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Other)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OtherDetails)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OtherDetails)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OtherWorkingDays)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OtherWorkingDays)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OtherDailyRate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OtherDailyRate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OtherTotal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OtherTotal)
            </dd>

        </dl>
    </div>
</body>
</html>
