@using System.Web.Mvc.Html
@model IEnumerable<Egen.Models.Companies>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int a = 1;
}

<br />
<h2 class="text-center">List of Companies</h2>

<a href="@Url.Action("Create")" class="btn btn-lg btn-success float-right">Create</a>
<br />
<br />

<table class="table table-responsive-md table-primary table-hover table-striped" style:width="100%">
    <thead class="black white-text">
        <tr>
            <th>#</th>
            <th>
                Company Name
            </th>
            <th>
                Company Address
            </th>
            <th>
                Attention
            </th>
            <th>Actions</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>@(a++)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Attention)
                </td>
                <td>
                    <a class="btn btn-sm btn-teal" href="@Url.Action("Edit", new {id = item.CompanyId})">
                        <i class="fa fa-pencil-square-o" title="Edit"></i>
                    </a>
                    <a class="btn btn-sm btn-danger" href="@Url.Action("Delete",new {id = item.CompanyId})" onclick = "return confirm('Are sure wants to delete? ');">
                        <i class="fa fa-trash-o" title="Delete"></i>
                    </a>
                    
                </td>
            </tr>
        </tbody>
    }

</table>
@section scripts{
        

    }

