@model Egen.Models.Banks

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Banks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Consultant.ConsultantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consultant.ConsultantName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iban)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iban)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SwiftCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SwiftCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoutingType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoutingType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoutingNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoutingNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankBranch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankBranch)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BankId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
