@model IEnumerable<Egen.Models.Banks>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int a = 1;
}

<br />
<h2 class="text-center">List of Banks</h2>

<a href="@Url.Action("Create")" class="btn btn-lg btn-success float-right">Create</a>
<br />
<br />

<table class="table table-responsive-md table-primary table-hover table-striped" style:width="100%">
    <thead class="black white-text">
    <tr>
        <th>#</th>
        <th>
            Consultant Name
        </th>
        <th>
            Bank Account Name
        </th>
        <th>
            Bank Account Number
        </th>
        <th>
            IBAN
        </th>
        <th>
            Bank Name
        </th>
        <th>
            Swift Code
        </th>
        <th>
            Routing Type
        </th>
        <th>
            Routing Number
        </th>
        <th>
            Bank Country
        </th>
        <th>
            Bank Branch
        </th>
        <th>Actions</th>
    </tr>
    </thead>

        @foreach (var item in Model)
        {
            <tbody>
            <tr>
                <td>@(a++)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Consultant.ConsultantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Iban)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SwiftCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoutingType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoutingNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankCountry)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankBranch)
                </td>
                <td>
                    <a class="btn btn-sm btn-teal" href="@Url.Action("Edit", new {id = item.BankId})">
                        <i class="fa fa-pencil-square-o" title="Edit"></i>
                    </a>
                    <a class="btn btn-sm btn-danger" href="@Url.Action("Delete", new {id = item.BankId})" onclick="return confirm('Are sure wants to delete? ');">
                        <i class="fa fa-trash-o" title="Delete"></i>
                    </a>

                </td>
            </tr>
            </tbody>
        }

</table>

@section scripts{


}
